body {
    font-family: Arial, sans-serif;
}

header {
    background-color: pink;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

h1 {
    color: #6c757d;
}

h2 {
    color: #007bff;
}